html{
    min-height: 100vh;
    width: 100vw;

}
body{
min-height: 100vh;
    width: 100vw;
    background-color: #ced4da;
}
.table{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.header{
    height: 10%;
    min-width: 100vw;

}
.block{
    background-color: #ced4da;
    min-height: 100%;
}
.dropdown-menu.show{
    width: 300px;
}
.dropdown-item{
    display: block;
    color: white;
    height: 100%;
}
.dropdown-divider{
    border: white 2px solid;
}


@media screen and (max-width: 1200px) {
    .header{
        height: 10%;
        max-width: 100vw;
        display: inline-block;
    }
}
@media screen and (max-width: 992px) {
    .header{

        height: 10%;
        display: inline-block;
    }
    .block{
        max-width: 70%;

    }
    .link-primary{
        padding-left: 20px;
    }
}
@media screen and (max-width: 768px) {
.header{
    height: 10%;
    max-width: 100vw;

}
    .block{
        width: 85%;
    }
    .link-primary{
        padding-left: 2px;
    }
}
